<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/result.css" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
  </head>
  <body>
    <div class="header">
      <h1 class="home-title">wishwith</h1>
      <div class="user-actions">
        <button class="login-button">로그인</button>
        <button class="signup-button">회원가입</button>
      </div>
      <ul class="navbar">
        <li class="nav-item"><a href="/home">홈</a></li>
        <li class="nav-item"><a href="/home">식료품</a></li>
        <li class="nav-item"><a href="/necessary">생필품</a></li>
        <li class="nav-item"><a href="/pencil">문구류</a></li>
        <li class="nav-item"><a href="/fashion">패션잡화</a></li>
        <li class="nav-item"><a href="/ewha">이화굿즈</a></li>
        <li class="nav-item"><a href="/etc">기타</a></li>
      </ul>
    </div>
    <div>기타페이지</div>
  </body>
</html>
