<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/index.css"> <!-- CSS 파일 연결 -->
</head>
<body>
    <div class="header">
        <h1 class="home-title">wishwith</h1>
        <div class="user-actions">
            <button class="login-button">로그인</button>
            <button class="signup-button">회원가입</button>
        </div>
    </div>

    <!-- 네비게이션 바 -->
    <ul class="navbar">
        <li class="nav-item"><a href="#home">홈</a></li>
        <li class="nav-item"><a href="#groceries">식료품</a></li>
        <li class="nav-item"><a href="#essentials">생필품</a></li>
        <li class="nav-item"><a href="#stationery">문구류</a></li>
        <li class="nav-item"><a href="#fashion">패션잡화</a></li>
        <li class="nav-item"><a href="#ehwagoods">이화굿즈</a></li>
        <li class="nav-item"><a href="#other">기타</a></li>
    </ul>

    <form action="/submit_item_post" method="post"> 
    <!-- 입력 폼 -->
    <form class="input-form">
        <div class="input-group">
            <label for="공구일정">공구 일정:</label>
            <input type="text" name="공구일정">
        </div>
        <div class="input-group">
            <label for="공구수량">공구 수량:</label>
            <input type="text" name="공구수량">
        </div>
        <div class="input-group">
            <label for="공구인원">공구 인원:</label>
            <input type="text" name="공구인원">
        </div>
        <div class="input-group">
            <label for="공구장소">공구 장소:</label>
            <input type="text" name="공구장소">
        </div>
        <button class="save-button" type="submit">저장</button>
    </form>
</form>
</body>
</html>
